﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="CoffeeShopWebApp.Site" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
   <!-- <link rel="stylesheet" href="/content/css/style.css" /> -->
</head>
<body>

    <div id="all_content" style="margin-left: auto; margin-right: auto; width: 970px; background-color: #FFFFFF;">
    <table style="width: 100%; font-family: Tahoma; height: 100%;">
        
        
        <form id="form1" runat="server">
    
        
        <div>
        <asp:ContentPlaceHolder ID="MainContent" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
        

    </form>
    <asp:ContentPlaceHolder ID="BottomContent" runat="server">
       
    </asp:ContentPlaceHolder>
    </table>
    </div>

</body>
</html>
