﻿#maindiv
{
    height: 100%;
    background-image: url("../images/bg-theme.gif");
    background-repeat: repeat-y;
}
#opac
{
    opacity: .5;
    filter: Alpha(opacity=50);
}
#opacinner
{
    top: -30px;
    left: -15px;
    width: 400px;
    height: 45px;
    -webkit-box-shadow: 0px 10px 7px rgba(0,0,0,0.4), 0px 20px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 7px rgba(0,0,0,0.4), 0px 20px 10px rgba(0,0,0,0.2);
    box-shadow: 0px 10px 7px rgba(0,0,0,0.4), 0px 20px 10px rgba(0,0,0,0.2);
}
.boxes
{
    font-size: 14px;
    font-weight: bold;
    font-family: tahoma;
    width: 340px;
    background-color: #FFEBAE;
}

#pic
{
    -webkit-box-shadow: 0px 10px 7px rgba(0,0,0,0.4), 0px 20px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 7px rgba(0,0,0,0.4), 0px 20px 10px rgba(0,0,0,0.2);
    box-shadow: 0px 10px 7px rgba(0,0,0,0.4), 0px 20px 10px rgba(0,0,0,0.2);
}
.hide
{
    /*display: none;*/
}

.subbut
{
    float: left;
    margin-left: 300px;
}
.subbut2
{
    float: left;
    margin-left: 20px;
}
.subbut3
{
    float: left;
    margin-left: 5px;
}
